.gitignore
Alembic
Astro
docker-compose.yml
Fastapi
GIT
NGNIXSSL
JS
PIP
Poetry
React
SSH
frontend/node_modules
frontend/.astro
frontend/astro-app.dockerfile
backend/.venv
backend/fastapi-app.dockerfile
n8n/n8n-app.dockerfile
nginx/nginx-app.dockerfile