fastapi==0.116.1
fastapi-mcp==0.4.0
uvicorn==0.35.0
gunicorn==23.0.0
granian==2.4.2
rich==14.1.0
requests==2.32.4
sqlmodel==0.0.24
alembic==1.16.4
asyncpg==0.30.0
aiosqlite==0.21.0
colorlog==6.9.0
python-multipart==0.0.20
pydantic==2.11.7
pydantic[settings]==2.11.7
pydantic[email]==2.11.7
pydantic-ai[logfire]==0.3.5
pydantic-ai==0.4.9
psycopg[binary]==3.2.9
#httpx==0.28.1
openai==1.97.1
groq==0.30.0
python-dotenv==1.1.1
aiosqlite==0.21.0
wheel==0.45.1
setuptools==80.9.0
pillow==11.3.0
google-generativeai==0.8.5
google-genai==1.27.0
passlib==1.7.4
bcrypt==4.3.0 #! for password hashing important this version
python-multipart==0.0.20
joserfc==1.2.2
uuid==1.30
httpx[http2]==0.28.1
hypercorn==0.17.3
uvloop==0.21.0
flask==3.1.1
pandas==2.3.1
polars==1.31.0
redis==6.2.0
