rich==13.9.4
fastapi==0.115.6
uvicorn==0.32.1
requests==2.32.3
sqlmodel==0.0.22
alembic==1.14.0
asyncpg==0.30.0
aiosqlite==0.20.0
pydantic[email]==2.10.3
colorlog==6.9.0
python-multipart==0.0.19
httpx==0.28.1
openai==1.59.7
groq==0.15.0
python-dotenv==1.0.1
aiosqlite==0.20.0
wheel==0.45.1
setuptools==75.8.0
pillow==11.1.0
google-generativeai==0.8.4
google-genai == 1.1.0
passlib==1.7.4
bcrypt==4.0.1 #! for password hashing important this version
python-multipart==0.0.19
joserfc==1.0.3
uuid==1.30