---
import '@/styles/globals.css';
import Head from '../layouts/Head.astro';
import Body from '../layouts/Body.astro';
import { ModeToggle } from '../components/reactcomp/ModeToggle';
import CardGlobalState from '../components/reactcomp/CardGlobal';
---

<!doctype html>
<html lang="en">
  <Head title="Global State" />
  <Body>
    <ModeToggle client:only="react" />
    <div class="flex h-[95vh] items-center justify-between p-6">
      <CardGlobalState client:only="react" />
      <CardGlobalState client:only="react" />
    </div>
    <div id="global-state" hx-post="/partials/1" hx-swap="outerHTML" hx-target="this">Global State</div>
    <!--<script is:inline src="../../public/scripts-lib/htmx.js"></script>-->
    <script is:inline src="../../public/scripts-lib/theme-dark-white.js"></script>
  </Body>
</html>
