---
import '@/styles/globals.css';
import Head from '../layouts/Head.astro';
import Body from '../layouts/Body.astro';
import { ModeToggle } from '../components/reactcomp/ModeToggle';
import CardGlobalState from '../components/reactcomp/CardGlobal';
---

<!doctype html>
<html lang="en">
  <Head title="Global State" />
  <Body>
    <ModeToggle client:only="react" />
    <div
      class="mx-auto flex h-[85vh] flex-col items-center justify-between gap-5 p-4 md:h-[95vh] md:flex-row"
    >
      <CardGlobalState client:only="react" />
      <CardGlobalState client:only="react" />
    </div>
    <script is:inline src="/scripts-lib/theme-dark-white.js"></script>
  </Body>
</html>
